<!DOCTYPE html>
<html>
    <style>
        .botao{padding: 10px 40px; background-color: #ffa726; color: #fff; margin-top: 20px; text-decoration: none; font-family: 'Roboto', sans-serif;}
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
        .titulo{color: #000000; font-family: 'Roboto', sans-serif;}
    </style>
<body background="https://i.postimg.cc/Px24yqW0/fundo.png">
    <h2 class="titulo">Cadastro realizado com sucesso !!!</h2>
    <p><a class="botao" href="/">Voltar</a></p>
</body>
</html>