<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Placa</th>
      <th>Nome do proprietario</th>
      <th>Estado</th>
      <th>Ano</th>
      <th>Cidade</th>
      <th>Endereço</th>
      <th>Foto</th>
      <th>Descrição do problema</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>goL</td>
      <td>GOL</td>
      <td>GOL</td>
      <td>GOL</td>
      <td>1864684</td>
      <td>AC</td>
      <td>GOL</td>
      <td>GOL</td>
      <td>modificacao2.png</td>
      <td>GOL</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GOl</td>
      <td>Volks</td>
      <td>4d8w9q4</td>
      <td>Matheus</td>
      <td>2022</td>
      <td>AC</td>
      <td>Curitiba</td>
      <td>Rui barbosa</td>
      <td>Exercicio01.png</td>
      <td>Sem pneu</td>
    </tr>
    <tr>
      <th>2</th>
      <td>I30</td>
      <td>Hyundai</td>
      <td>d5qw4q</td>
      <td>Natanael</td>
      <td>2022</td>
      <td>DF</td>
      <td>Brasilia</td>
      <td>x65q4qw</td>
      <td>modificacao2.png</td>
      <td>Nao liga</td>
    </tr>
    <tr>
      <th>3</th>
      <td>kkkkkkkkkkkkkkkkkkk</td>
      <td>kkkkkkkkkkkkkkkkkkkk</td>
      <td>kkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
      <td>kkkkkkkkkkkkkkkkkkkkkkkkkk</td>
      <td>kkkkkkkkkkkkkkkkkkkkkkk</td>
      <td>AC</td>
      <td>kkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
      <td>kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
      <td>NaN</td>
      <td>dqwdqwdqwdqwdqwdqw</td>
    </tr>
    <tr>
      <th>4</th>
      <td>EUIWQEUIWQHEUIWH</td>
      <td>00000000000000</td>
      <td>0000000000000000</td>
      <td>0000000000000000</td>
      <td>0000000000000000000000</td>
      <td>AC</td>
      <td>00000000000000000000</td>
      <td>000000000000000000000</td>
      <td>modificacao3.png</td>
      <td>000000000000000000000000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Modelo</td>
      <td>Marca</td>
      <td>Placa</td>
      <td>Nome</td>
      <td>Ano</td>
      <td>AC</td>
      <td>Curitiba</td>
      <td>rua</td>
      <td>modificacao 1.png</td>
      <td>hahahahaha</td>
    </tr>
    <tr>
      <th>6</th>
      <td>TESTE1</td>
      <td>TESTE1</td>
      <td>TESTE1</td>
      <td>TESTE1</td>
      <td>TESTE1</td>
      <td>PR</td>
      <td>TESTE1</td>
      <td>TESTE1</td>
      <td>modificacao 1.png</td>
      <td>TESTE1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>CE</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>TESTE2</td>
      <td>TESTE2</td>
      <td>TESTE2</td>
      <td>TESTE2</td>
      <td>TESTE2</td>
      <td>AM</td>
      <td>TESTE2</td>
      <td>TESTE2</td>
      <td>NaN</td>
      <td>TESTE2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>teste3</td>
      <td>teste3</td>
      <td>teste3</td>
      <td>teste3</td>
      <td>teste3</td>
      <td>AM</td>
      <td>teste3</td>
      <td>teste3</td>
      <td>NaN</td>
      <td>teste3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>TESTE4</td>
      <td>TESTE4</td>
      <td>TESTE4</td>
      <td>TESTE4</td>
      <td>TESTE4</td>
      <td>BA</td>
      <td>TESTE4</td>
      <td>TESTE4</td>
      <td>NaN</td>
      <td>TESTE4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>PB</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>NaN</td>
      <td>TESTE</td>
    </tr>
    <tr>
      <th>12</th>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>PR</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>NaN</td>
      <td>TESTE</td>
    </tr>
    <tr>
      <th>13</th>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>AP</td>
      <td>TESTE</td>
      <td>TESTE</td>
      <td>WhatsApp Image 2022-09-29 at 20.04.15.jpeg</td>
      <td>TESTE</td>
    </tr>
    <tr>
      <th>14</th>
      <td>GOL</td>
      <td>VOLKS</td>
      <td>123456</td>
      <td>MATHEUS</td>
      <td>48498</td>
      <td>PR</td>
      <td>CURITIBA</td>
      <td>AV BRASILIA</td>
      <td>WhatsApp Image 2022-09-29 at 20.04.15.jpeg</td>
      <td>NAO LIGA</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Gol</td>
      <td>Volks</td>
      <td>123456</td>
      <td>Matheus</td>
      <td>2022</td>
      <td>PR</td>
      <td>Curitiba</td>
      <td>Av brasilia</td>
      <td>WhatsApp Image 2022-09-29 at 20.04.15.jpeg</td>
      <td>Nao Liga</td>
    </tr>
    <tr>
      <th>16</th>
      <td>TESTE5</td>
      <td>TESTE5</td>
      <td>TESTE5</td>
      <td>TESTE5</td>
      <td>TESTE5</td>
      <td>AM</td>
      <td>TESTE5</td>
      <td>TESTE5</td>
      <td>WhatsApp Image 2022-09-29 at 20.04.15.jpeg</td>
      <td>TESTE5</td>
    </tr>
  </tbody>
</table>